name: AzureDevOpsTaskGenerator build

on:
  push:
    branches: [ "develop","main" ]
  pull_request:
    branches: [ "develop","main" ]
  merge_group:
    branches: [ "develop","main" ]  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore AzureDevOpsTaskGenerator.sln
    - name: Build
      run: dotnet build --no-restore AzureDevOpsTaskGenerator.sln
